{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["lib/**/*.js"],
  "rules": {
    "@typescript-eslint/restrict-template-expressions": 0,
    "max-classes-per-file": ["error", { "ignoreExpressions": true }],
    "class-methods-use-this": ["error", { "exceptMethods": ["createAnonymousUser", "#createClient"] }],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "multiline": true,
          "minProperties": 5
        },
        "ObjectPattern": {
          "multiline": true
        },
        "ImportDeclaration": {
          "multiline": true,
          "minProperties": 5
        },
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 5
        }
      }
    ]
  }
}
